# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Data Science Tools

| Data Science Tools |
|--------------------|
|Jupyter Notebook|
|Jupyter Lab|
|PyCharm|
|RStudio|

### Below are a few examples of evaluating arithmetic expression in python:

- "+"
- "-"
- "*"
- "/"
- "**"

In [15]:
#This is a simple arithmetic expression to multiply then add intergers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
List popular languages for Data Science:

- Python
- R
- SQL

## Author: Andrew D. Dean